streamlit
langchain
langchain-google-genai
google-generativeai
chromadb
PyPDF2
langchain-community
pypdf
rapidocr-onnxruntime
opencv-python-headless
streamlit-chromadb-connection
pysqlite3-binary
tensorflow
